html {
  font-size: 4px;
}

body {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
  min-height: 100vh;
  min-height: 100dvh;
  flex-direction: column;
  max-width: 420px;
  margin: 0px auto;
  padding: 12px;
  gap: 12rem;
  word-break: keep-all;
  font-family: SUIT, "SUIT Variable", Pretendard, Pretendard Variable,
    Spoqa Han Sans Neo, Spoqa Han Sans, Noto Sans CJK KR, Noto Sans KR,
    Noto Sans, Nanum Gothic, Apple SD Gothic Neo, sans-serif;
}

#logo {
  width: 30rem;
}
